.menu_item {
	display: flex;
	padding: var(--Spacing-regular, 16px) var(--Spacing-big, 24px);
	justify-content: center;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	border: var(--Stroke-regular, 1.5px) solid white;

	&:hover {
		border-radius: var(--Radius-large, 16px);
		background: var(--background, #fff);
		box-shadow: 0 2px 4px 2px rgba(32, 30, 28, 0.15);
	}

	&:active {
		border-radius: var(--Radius-large, 16px);
		border: var(--Stroke-regular, 1.5px) solid var(--primary, #0b4c8c);
		background: var(--background, #fff);

		/* Elevation 2 */
		box-shadow: 0 2px 4px 2px rgba(32, 30, 28, 0.15);
	}

	&__text {
		color: var(--text, #201e1c);
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: var(--Font-Size-medium, 16px);
		font-style: normal;
		font-weight: 700;
		line-height: var(--Line-Height-regular, 24px); /* 150% */
		letter-spacing: 0.32px;
	}
}
