.cover {
	display: flex;
	padding: var(--Spacing-gigantous, 96px) var(--Spacing-huge, 64px);
	gap: var(--Spacing-large, 32px);
	max-width: 1280px;
	width: 100%;

	&__left {
		display: flex;
		flex-direction: column;
		gap: 32px;

		.hero {
			display: flex;
			flex-direction: column;

			&__txt {
				color: var(--dark-gray, #58544f);
				font-family: 'IBM Plex Sans', sans-serif;
				font-size: var(--Font-Size-huge, 32px);
				font-style: normal;
				font-weight: 600;
				line-height: var(--Line-Height-loose, 32px); /* 100% */
				letter-spacing: 0.64px;
			}

			&__big {
				color: var(--text, #201e1c);
				font-family: 'IBM Plex Sans', sans-serif;
				font-size: 75px;
				font-style: normal;
				font-weight: 700;
				line-height: var(--Line-Height-spacious, 80px); /* 106.667% */
				letter-spacing: 1.5px;
			}
		}

		.search {
			width: 100%;
			display: flex;
			gap: 8px;
			cursor: pointer;

			&__search {
				border-radius: var(--Radius-large, 16px);
				background: var(--primary, #0b4c8c);
				display: flex;
				padding: var(--Spacing-regular, 16px);
				justify-content: center;
				align-items: center;
				gap: var(--Spacing-small, 8px);
			}
		}

		.products {
			display: flex;
			flex-direction: column;
			gap: 16px;

			&__txt {
				color: var(--body-text, #2c2c2c);
				font-family: 'IBM Plex Sans', sans-serif;
				font-size: var(--Font-Size-regular, 14px);
				font-style: normal;
				font-weight: 500;
				line-height: var(--Line-Height-tight, 16px); /* 114.286% */
				letter-spacing: 0.28px;
			}

			&__chips {
				display: flex;
				align-items: flex-start;
				align-content: flex-start;
				gap: 8px;
				align-self: stretch;
				flex-wrap: wrap;
			}
		}
	}
}
