.container {
	background: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 24px;
	overflow: hidden;
}

.marquee {
	display: flex;
	overflow: hidden;
	user-select: none;

	&:hover .marqueeContent {
		animation-play-state: paused;
	}

	&.reverse .marqueeContent {
		animation-direction: reverse;
	}
}

.marqueeContent {
	flex-shrink: 0;
	display: flex;
	gap: 24px;
	animation: scroll 120s linear infinite;
	padding: 4px 0;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-100% - 24px));
	}
}

.logo {
	padding: 0 40px;
	margin: 0 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--Radius-regular, 8px);
	border: var(--Stroke-regular, 1.5px) solid var(--shade-blue, #f2f9ff);
	background: var(--background, #fff);
	width: 200px;
	height: 112px;

	box-shadow: 0 2px 4px 2px rgba(32, 30, 28, 0.15);

	img {
		filter: grayscale(100%);
		transition: all 0.3s ease;
		opacity: 0.8;
		width: 100%;
		height: auto;
	}

	&:hover img {
		filter: grayscale(0%);
		transform: scale(1.1);
		opacity: 1;
	}
}
