.search {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--Spacing-large, 32px);
	justify-content: center;
	align-items: center;
	padding: 64px;
	overflow: hidden;
	max-width: 1280px;
	position: relative;

	&__title {
		color: var(--primary, #0b4c8c);
		text-align: center;
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: 75px;
		font-style: normal;
		font-weight: 700;
		line-height: var(--Line-Height-spacious, 80px);
		letter-spacing: 1.5px;
		z-index: 1;
	}

	&__input {
		width: 100%;
		max-width: 620px;
		display: flex;
		gap: 8px;
		z-index: 1;

		.btn {
			border-radius: var(--Radius-large, 16px);
			background: var(--primary, #0b4c8c);
			display: flex;
			padding: var(--Spacing-regular, 16px);
			justify-content: center;
			align-items: center;
			gap: var(--Spacing-small, 8px);
		}
	}

	.shape {
		position: absolute;
		left: 252px;
		bottom: 37px;
		width: 303px;
		height: 275px;
		border-radius: 1000px 20px 20px 20px;
		background: var(--shade-blue, #f2f9ff);
		z-index: 0;
	}
}
