@use '@/styles/responsive' as responsive;

.header {
	width: 100%;
	padding: var(--Spacing-regular, 16px) var(--Spacing-huge, 64px);
	background: var(--medium-gray, #6b7280);
	display: flex;
	justify-content: center;

	@include responsive.respond-down('mobile') {
		display: none;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1280px;
		width: 100%;
	}

	&__left {
		display: flex;
		gap: 8px;
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 16px;

		.values {
			display: flex;
			align-items: center;
			gap: 8px;

			.separator {
				border-right: 1px solid #fff;
				height: 24px;
			}

			.row {
				display: flex;
				padding: var(--Spacing-small, 8px) var(--Spacing-regular, 16px);
				justify-content: center;
				align-items: center;
				gap: 8px;
				color: #fff;
				cursor: pointer;
			}
		}

		.text {
			color: #fff;
			cursor: pointer;
			background: none;
			border: none;
			font: inherit;
			padding: 0;
		}
	}
}

.pointer {
	cursor: pointer;
}
