.header {
	width: 100%;
	padding: var(--Spacing-regular, 16px) var(--Spacing-huge, 64px);
	background: var(--medium-gray, #6b7280);
	display: flex;
	justify-content: center;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1280px;
		width: 100%;
	}

	&__left {
		display: flex;
		gap: 8px;
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 16px;

		.text {
			color: #fff;
			cursor: pointer;
		}
	}
}

.pointer {
	cursor: pointer;
}
