$body-text: #2c2c2c;
$secondary-text: #6b7280;
$text: #201e1c;

$primary: #0b4c8c;
$primary-shade: #396fa3;
$secondary: #e6f0fa;
$shade-blue: #f2f9ff;
$accent: #d35400;

$high-contrast-a: #ffffff;
$high-contrast-b: #201e1c;
$disabled: #cccccc;

$dark-gray: #58544f;
$medium-gray: #6b7280;
$light-gray: #ebebeb;

$highlight-text: #d35400;
