$body-text: #2C2C2C;
$secondary-text: #6B7280;
$text: #201E1C;

$primary: #0B4C8C;
$primary-shade: #396FA3;
$secondary: #E6F0FA;
$shade-blue: #F2F9FF;
$accent: #D35400;

$high-contrast-a: #FFFFFF;
$high-contrast-b: #201E1C;
$disabled: #CCCCCC;

$dark-gray: #58544F;
$medium-gray: #6B7280;
$light-gray: #EBEBEB;

$highlight-text: #D35400;
