.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1280px;

	&__btns {
		display: flex;

		.brands {
			position: relative;
			z-index: 10;
		}

		.cart {
			padding-left: 16px;
			position: relative;
			z-index: 10;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.35);
	z-index: 5;
}
