.cartButton {
	display: flex;
	padding: var(--Spacing-regular, 16px);
	justify-content: center;
	align-items: center;
	gap: var(--Spacing-small, 8px);
	border-radius: var(--Radius-large, 16px);
	border: 1.5px solid var(--secondary, #e6f0fa);
	background: var(--secondary, #e6f0fa);
	cursor: pointer;

	&:active {
		border: var(--Stroke-regular, 1.5px) solid var(--primary, #0b4c8c);
		box-shadow: 0 2px 4px 2px rgba(32, 30, 28, 0.15);
	}

	&__count {
		display: flex;
		width: 24px;
		padding: var(--Spacing-tiny, 4px) var(--Spacing-small, 8px);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 8px;
		flex-shrink: 0;
		border-radius: 100px;
		background: var(--shade-blue, #f2f9ff);

		.text {
			color: var(--body-text, #2c2c2c);
			font-family: 'IBM Plex Sans', sans-serif;
			font-size: var(--Font-Size-regular, 14px);
			font-style: normal;
			font-weight: 700;
			line-height: var(--Line-Height-tight, 16px); /* 114.286% */
			letter-spacing: 0.28px;
		}
	}
}
